.custom-table {
  width: 300%;
  white-space: nowrap;
}

.custom-table tbody {
  height: 400px;
  overflow-y: auto;
  width: 100%;
  border: 1px solid red;
  
}
.custom-table thead,
.custom-table tbody {
  display: block;
}
.custom-table th,
.custom-table td {
  border: 1px solid skyblue;
  display: block;
  float: left;
  width: 300px;
  padding: 10px;
}
.main-container {
  width: 100%;
  overflow: auto;
  padding: 10px;
}
/* @media only screen and (max-width: 600px) {
  .custom-table tbody {
    height: 300px;
    overflow: auto;
    max-width: 400px;
    border: 1px solid red;
  }
} */
