<mat-card fxLayout="column" class = "search-criteria">
  <section  class="center desk-academic-section question-paper-theam capitalize common-padding">Academic Section</section>
  <section fxLayout="column" class = "desk-control-section">
    <fieldset class="question-paper-mat-select-border desk-control-legend">
      <legend class = "capitalize question-paper-theme-color">Academic Year : </legend>
      <div fxLayout="column" class="desk-control-container ">
        <mat-form-field class = "small-select " >
          <mat-select   class = "mat-form-field">
            <mat-option value="1">option1</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </fieldset>
    <fieldset class="question-paper-mat-select-border  desk-control-legend">
      <legend class = "capitalize question-paper-theme-color">Pattern : </legend>
      <div fxLayout="column" class="desk-control-container">
        <mat-form-field class = "small-select" >
          <mat-select   class = "mat-form-field">
            <mat-option value ="pattern">pattern1</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </fieldset>
    <fieldset class="question-paper-mat-select-border  desk-control-legend">
      <legend class = "capitalize question-paper-theme-color">Class : </legend>
      <div fxLayout="column" class="desk-control-container">
        <mat-form-field class = "small-select">
          <mat-select   class = "mat-form-field" >
            <mat-option value = "className">className</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </fieldset>
    <fieldset class="question-paper-mat-select-border  desk-control-legend">
      <legend class = "capitalize question-paper-theme-color">Test Type : </legend>
      <div fxLayout="column" class="desk-control-container">
        <mat-form-field class = "small-select" >
          <mat-select  class = "mat-form-field">
            <mat-option value = "testType" >type</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </fieldset>
    <fieldset class="question-paper-mat-select-border  desk-control-legend">
      <legend class = "capitalize question-paper-theme-color">Subject : </legend>
      <div fxLayout="column" class="desk-control-container">
        <mat-form-field  class = "small-select">
          <mat-select    class = "mat-form-field" multiple>
            <mat-option  value="subject">subject</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </fieldset>
  </section>
</mat-card>
