<div class="main-div">
  <navbar-menu></navbar-menu>
    <div class="jumbotron">
    <div class="card" style="width: 18rem;height: 15em;">
        <div class="card-body" id="card-body">
                <div><i class="icon fa fa-building padding-left" aria-hidden="true"></i></div>
                <div><h3 class="count margin-topp">15,900</h3></div>
                <div class="link" id="link">
                    <a routerLink="/admin/class-test-details" class="anchor-tag">Class test details</a>
                </div>
        </div>
    </div>
    <div class="card" style="width: 18rem;height: 15em;">
        <div class="card-body">
                <div><i class="icon fa fa-user padding-left" aria-hidden="true"></i></div>
                <div>  <h3 class="count margin-topp">120</h3></div>
                <div class="link">
                    <a href="#" class="anchor-tag">New Clients</a>
                </div>
        </div>
    </div>
    <div class="card" style="width: 18rem;height: 15em;">
        <div class="card-body">
                <div><i class="icon fa fa-database padding-left" aria-hidden="true"></i></div>
                <div>  <h3 class="count margin-topp">50</h3></div>
                <div class="link">
                    <a href="#" class="anchor-tag">New Projects</a>
                </div>
        </div>
    </div>
    <div class="card" style="width: 18rem;height: 15em;">
        <div class="card-body">
                <div><i class="icon fa fa-server padding-left" aria-hidden="true"></i></div>
                <div>  <h3 class="count margin-topp">70</h3></div>
                <div class="link">
                    <a href="#" class="anchor-tag">Old Projects</a>
                </div>
        </div>
    </div>
    <div class="card" style="width: 18rem;height: 15em;">
        <div class="card-body">
                <div><i class="icon fa fa-folder-open padding-left" aria-hidden="true"></i></div>
                <div>  <h3 class="count margin-topp">25</h3></div>
                <div class="link">
                    <a href="#" class="anchor-tag">New Orders</a>
                </div>
        </div>
    </div>
  </div>
</div>