.card {
    display: inline-block;
    margin: 5px;
    height: auto;
    /* top:230px;
    left:550px; */
    /* transition: width 1s; */
  }
  .card-body{
    height: 100%;
    width: 95%;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0px !important;
    position: relative;
    cursor: pointer;
  }
  .reset-items {
      margin-left: 15px !important;
  }
  .main-container {
    /* margin-top:200px;   */
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: skyblue;
    opacity: 0.8;
}
  
  @keyframes fade{
  0%{
    bottom: 0px;
  }
  100%{
    bottom: 20px;
  }
}

  .card-info {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
  }
  .card-items {
    align-self: center;
    margin: 10px;
    margin: 30px;

  }
  .link{
    width:100%;
    height:40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 20px;
    left: 0;
    animation-timing-function: linear;
   }
  .anchor-tag {
    text-decoration: none;
    color: white;
    display: block;
    font-weight: bold;
    color:black;
  }
  
  .margin-topp {
    margin-top: 20px;
  }
  
  .padding-left {
    padding-left: 15px;
    line-height: 30px;
    font-size: 70px;
  }
  /* .padding-left:hover {
    color:chocolate;
  } */
/* 
  @media only screen and (max-width: 600px) {
    .card {
        width: 100%;
        height: 100%;
        top:-100px;
        left:-50px;
        top:170px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
  } */