<div class="main-container">
  <div class="card" style="width: 27rem;height: 21em;">
    <div class="card-body" id="card-body">
            <div><i class="icon fa fa-lock padding-left" aria-hidden="true"></i></div>
            <div><h3 class="count margin-topp">Forgot Password?</h3></div>
            <div>
              <p>You can reset your password here.</p>
            </div>
            <div class="reset-items" >
              <div style="width:20rem;" class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                  </span>
                </div>
                <input #email type="text" class="form-control" placeholder="email address" aria-label="Username" aria-describedby="basic-addon1">
              </div>
              <div>
                <button  (click)="resetMail()" style="width:20rem;" class="btn btn-primary btn-lg">Send My Password</button>
            </div>
          </div>
    </div>
  </div>
</div>
<!-- <div class="card" style="width: 27rem;height: 21em;">
  <div class="card-body" id="card-body">
          <div><i class="icon fa fa-lock padding-left" aria-hidden="true"></i></div>
          <div><h3 class="count margin-topp">Forgot Password?</h3></div>
          <div>
            <p>You can reset your password here.</p>
          </div>
          <div>
            <div style="width:20rem;" class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">
                  <i class="fa fa-envelope" aria-hidden="true"></i>
                </span>
              </div>
              <input type="text" class="form-control" placeholder="email address" aria-label="Username" aria-describedby="basic-addon1">
            </div>
          </div>
          <div>
              <button style="width:20rem;" class="btn btn-primary btn-lg">Send My Password</button>
          </div>
  </div>
</div> -->
