.logo{
  border:2px solid red;
}
.border{
  border: 2px solid red !important;
}
.login-panel{
  position: relative;
}
.root-section{
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to bottom,pink,skyblue);
  position: absolute;
}
.light-label{
  color:gray;
}
.forgot-password{
  cursor: pointer !important;
  padding: 7px 0px;
}
.icon-size{
  font-size: 30px;
}
.light-border{
  border: 1px solid lightgray;
}
@media only screen and (max-width:900px){
  .login-panel{
    height: 100% !important;
  }
}
