*{
    box-sizing: border-box;
}
.main-div{
    height: 100%;
    width:100%;
   
}
.body{
    height: 70%;
}
 .footer{
    height: 20%;
   
}
.no-container , .yes-container{
    display: flex;
    justify-content: center;
    align-items: center !important;
}
.no-container > button , .yes-container > button{
    flex-basis: 90%;
    color: white;
    text-transform: capitalize;
    font-weight: bold;
    
}
.yes-container > button{
    background: lightseagreen;
}
.no-container > button{
    background: skyblue;
}
.full-height{
    height: 100%;
}
.body{
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    color:red;
    font-size: 1em;
}